<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kiwii</title>
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
  <section>
    <header>
      <img src="../static/img/logo.png" alt="logo">
      <h2 th:text="${subject.name}"></h2>

      <form action="" method="post">
        <input type="text" placeholder="URL">
        <button id="send" onclick="document.getElementById('modal').style.display='block'"></button>
      </form>

    </header>
    <div class="cards">
      <a href="#">
        <div class="card">
          <img src="../static/img/background.jpg">
          <h3 th:text="${subject.title}"></h3>
          <p>200019492</p>
        </div>
      </a>
    </div>
  </section>

  <script src="https://kit.fontawesome.com/3d294240d4.js" crossorigin="anonymous"></script>
</body>

</html>