<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kiwii</title>
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/3d294240d4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
  <section>
    <header>
      <img src="../static/img/logo.png" alt="logo">
      <h2 th:text="${subjectName}"></h2>

      <form th:action="@{/save}" method="post">
        <input name="url" type="text" placeholder="URL" required="required">
        <button type="submit" id="send" onclick="document.getElementById('modal').style.display='block'"></button>
      </form>
      <p id="message" th:text="${message}"></p>
    </header>

    <div class="cards">
      <div th:each="scrap : ${scraps}">
        <a th:href="${scrap.url}">
          <div class="card">
            <form method="get" th:action="@{'/delete/' + ${scrap.id}}" th:if="${scrap.isOwner}">
              <button type="submit" id="delete" >
                <i class="fa-solid fa-circle-xmark" style="color: #ffffff;"></i>
            </button>
            </form>
            <img th:src="${scrap.imgUrl}">
            <div class="card_content">
              <h3 th:text="${scrap.title}"></h3>
              <i>
                <p th:text="${scrap.name}"></p>
              </i>
            </div>
          </div>
        </a>
      </div>
    </div>

  </section>

  <script src="https://kit.fontawesome.com/3d294240d4.js" crossorigin="anonymous"></script>

</body>

</html>
