<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kiwii</title>
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/3d294240d4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
  <section>
    <header>
      <img src="../static/img/logo.png" alt="logo">
      <h2 th:text="${subjectName}"></h2>

      <form action="" method="post">
        <input type="text" placeholder="RM" required="required">
        <input type="text" placeholder="URL" required="required">
        <button id="send" onclick="document.getElementById('modal').style.display='block'"></button>
      </form>

    </header>

    <div class="cards">
      <div th:each="scrap : ${scraps}">
        <a th:href="${scrap.url}">
          <div class="card">
            <button id="delete"><i class="fa-solid fa-circle-xmark" style="color: #ffffff;"></i></button>
            <img th:src="${scrap.imgUrl}">
            <div class="card_content">
              <h3 th:text="${scrap.title}"></h3>
              <i><p th:text="${scrap.name} + ' - ' + ${scrap.rm}"></p></i>
            </div>
          </div>
        </a>
      </div>
    </div>


  </section>

  <script src="https://kit.fontawesome.com/3d294240d4.js" crossorigin="anonymous"></script>
</body>

</html>