<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kiwii</title>
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
  <section>
    <form th:action="@{/findSubject}" method="post">
      <header>
        <img src="../static/img/logo.png" alt="logo" />
        <p>repositório estudantil</p>
      </header>
      <input id="id" name="id" type="text" placeholder="Sigla da Disciplina" />
      <input id="rm" name="rm" type="text" placeholder="Registro de Matrícula" />
      <button type="submit"></button>
      <p id="message" th:text="${message}"></p>
    </form>
  </section>
</body>

</html>